[2016-05-19 05:30] itsmemattchung opened #1 "Composer support"
Would it be possible to use something like [composer](https://getcomposer.org/) to install the library. I'm not running a web server and won't be executing the[ installation script.](https://github.com/merlinthemagic/MTS/blob/master/MtsSetup.php)

[2016-05-19 11:45] merlinthemagic commented on #1
Absolutely. I am exploring the best way to solve dependencies and install the lib.

Thx Martin

[2016-05-19 17:20] merlinthemagic commented on #1
The project depends on 2 programs "screen" and "python". Optionally "sudo" if sudo is available it can be configured to make getting root access easier than passing root credentials.

I have looked around and i cannot find any dependency management tool that includes the ability to add system level packages. Composer can list the available packages but not [install ](https://getcomposer.org/doc/02

[2016-05-19 20:02] merlinthemagic commented on #1
i updated MtsSetup.php so it can be run on the CLI without a browser installed.

[2016-06-20 08:59] Alorel commented on #1
A definite +1 on supporting composer - yes, it does not offer a function to require specific system packages to be installed, but neither does reading the README.md.

The best way to check if the packages are installed I can think of is doing a

[code]

either when the user attempts to perform an operation and receives an output implying that a required package is missing, or by executing a dummy

[2016-06-20 14:45] merlinthemagic commented on #1
Hi Alorel,
I will work on composer support, in the mean time did you see the segment of the Readme regarding installation? It was located at the very bottom, which in hind sight might have been a mistake. I moved it to the top.

[2016-06-20 14:51] Alorel commented on #1
I did and it's all straightforward - the main aim of my post was to suggest _some_ possible options for your [first reply](https://github.com/merlinthemagic/MTS/issues/1#issuecomment-220300902). :)

[2016-10-11 04:22] quyeticb opened #4 "Can not click Element by ClassName or linkText as same Facebook Driver"
hello, I want click by classname (many classname duplicate). How to click with classname $n
ex:

[code]

I Want click link **Two**

And How do run PhantomJS via Sock 5 proxy?

[2016-10-11 07:56] quyeticb commented on #4
OK, I solved run PhantomJS via socks 5. But Not solve the first problem. Need support!

[2016-10-11 09:51] merlinthemagic commented on #4
Hi,

I would select the set of links in class "one" (a.one), then a sub selection using "nth-of-type(n)" like this:

`$selector   = "a.one:nth-of-type(2)";`

You could use getElement()  and make sure you have the right link. I also saw you wanted to click the link using mouseEventOnElement() before you edited the issue. In the Readme you will see that mouseEventOnElement() can only click elements

[2016-10-11 14:35] quyeticb commented on #4
Thanks for fast support. I will check it again.
Now, I have a problem with the function `sendKeyPresses`
If string to send is utf-8 is always error (timeout error).
You can check and review it.

And If error, these folder in WorkDirectory do not delete, may be error for next PhantomJS instances

[2016-10-11 14:55] merlinthemagic commented on #4
What's your OS, version and architecture?

Can you send me the string that fails? The fact that the process does not exit is quite odd. There is only two scenarios I can think of that would cause the process to live beyond the lifetime of the PHP script. That would be if the command you execute is the very first one OR if you are using a very old version of MTS. When did you download MTS and are y

[2016-10-11 15:06] quyeticb commented on #4
Oh, one moment, I create many instances while do not terminate it before.
But $windowObj->close() still not working.
This is error:

[2016-10-11 15:18] merlinthemagic commented on #4
Are you using the current version of master? If not how old is it?

Since you customized MTS do you have a repository where I can look at the code?

I am puzzled because $windowObj->close() does not invoke terminate of the entire browserObj just that window.

[2016-10-11 15:20] quyeticb commented on #4
I'm using latest MTS release.

[2016-10-11 15:22] merlinthemagic commented on #4
The reason I would like to see the code is that the Exception trace shows:

Can't find variable: myArray, ECode: 0 in /MTS/Common/Devices/Browsers/PhantomJS.php:111

That variable is not defined in the stock MTS package. It's hard to help you without knowing how you customized the package.

[2016-10-11 15:30] quyeticb commented on #4
Thank you, I will track it again, but I do not modifie PhantomJS.php.
PS: I Like your source code. It is useful, instead of having to use webdriver. You can review the `sendKeyPresses` with an unicode string. Ex: `sendKeyPresses('Côte dIvoire')`

[2016-10-11 15:36] merlinthemagic commented on #4
The exception is relayed from the .js executed by phantomJS. It's not a PHP exception originally.

[2016-10-11 15:38] quyeticb commented on #4
Yes, I fixed it! Thanks!

[2016-10-11 15:40] #4 closed, assigned to merlinthemagic

[2016-10-13 04:09] quyeticb opened #5 "How to wait page load complete"
How to wait web page load complete before clickElement(). I'm using sleep(), but sometime page slow to load.

[2016-10-13 08:29] merlinthemagic commented on #5
Before we embark on another one of these quests, I need to see your modified PJSCtrl.js. Because the stock version of MTS has a function called commandWaitForWindowLoad() which handles the wait. That function relies on onLoadFinished from pjs (http://phantomjs.org/api/webpage/handler/on-load-finished.html).

However think about what constitutes a completely loaded page. Is a page completely loaded

[2016-10-15 10:23] merlinthemagic commented on #5
@quyeticb did you resolve the issue, can i go ahead and close?

[2016-10-15 17:02] merlinthemagic commented on #1
@itsmemattchung @Alorel
Added composer.json (used "https://github.com/Alorel/dropbox-v2-php/blob/master/composer.json" as template :) ).

However since Composer does not support check or installation of system packages a post install script is triggered. I am not confident in how I defined the autoloader setup, feedback is appreciated.

[2016-10-15 17:11] Alorel commented on #1
Thanks for the update!

The [spl_autoload_register ](https://github.com/merlinthemagic/MTS/blob/master/MTS/EnableMTS.php#L19) code block could be **moved** to composer.json assuming your classes and namespaces follow the [PSR4 specification](http://www.php-fig.org/psr/psr-4/) (i.e. package name + class name = file path, case-sensitive). You could, therefore, have the following in your composer.jso

[2016-10-15 17:16] hnhhl opened #6 "How to set user agent?"
Hello, thank you for perfect source !
I'm new for PHP. I don't know how to set user agent in your code.
My code:
<?php
error_reporting(E_ALL);
ini_set("display_errors", 1);
require_once "/var/www/html/master/MTS/EnableMTS.php";
ini_set('max_execution_time', 120);
$myUrl          = "https://whoer.net";
$agentName  = "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:47.0) Gecko/20100101 Firefox/47.0";
$window

[2016-10-15 17:36] merlinthemagic commented on #6
Almost right :). But you need to instantiate the browser, then get a window object before you start calling methods on it. Here is a working example:

[code]

Now you can start calling other methods on the windowObj. I.e. if you want a screenshot of the page you have open in the window:

[code]

[2016-10-15 17:45] merlinthemagic commented on #1
@Alorel the namespace is psr-4 compliant. But I am not sure maintaining the constants in the file and allowing composer to handle auto loading of classes is the most flexible option. Anyone installing the library outside of Composer would need to supply an autoloader for MTS to function.

But i appreciate the quick feedback :)

[2016-10-15 17:47] Alorel commented on #1
In that case keeping the autoloader within EnableMTS.php is most likely the best solution. :)

[2016-10-15 17:47] #1 closed, assigned to merlinthemagic

[2016-10-15 18:06] hnhhl commented on #6
Thank you for quick reply. I edited code :+1:

<?php
error_reporting(E_ALL);
ini_set("display_errors", 1);
ini_set('max_execution_time', 120);
require_once "/var/www/html/master/MTS/EnableMTS.php";
$myUrl = "https://whoer.net";
$windowObj = MTS\Factories::getDevices()->getLocalHost()->getBrowser('phantomjs')->getNewWindow($myUrl);
$agentName = "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:47.0) Gecko/20

[2016-10-15 18:12] merlinthemagic commented on #6
Got it. The reason is that setting the url when instantiating a new window will call setURL() before the agent is changed. I should have realized you wanted the agent reflected on the initial connection.
Here is a corrected example:

[code]

[2016-10-15 18:20] hnhhl commented on #6
Thank you for answer. My problems is now resolved !!!
This is the best source I've ever known.
The last question, can I set time zone and use proxy to connect to $myurl ?

[2016-10-15 18:52] merlinthemagic commented on #6
Currently not possible using MTS. You would have to modify the options when phantomJS is started.

See: [documentation](http://phantomjs.org/api/command-line.html)
Specifically the options:

[code]

Append the command on line 45 of [Browser.php](https://github.com/merlinthemagic/MTS/blob/master/MTS/Common/Devices/Actions/Local/Host/Browser.php)

With the proxy settings. I will consider implementin

[2016-10-15 18:52] #6 closed, assigned to merlinthemagic

[2016-10-16 00:31] quyeticb commented on #5
I can't solved it. Wait suggest from you

[2016-10-16 08:32] merlinthemagic commented on #5
Then please send me your modified PJSCtrl.js.

[2016-10-16 12:25] merlinthemagic commented on #5
If PJSCtrl.js still invokes the original logic then here is an example of logic you could implement to wait for AJAX content to finish loading:

[code]

[2016-10-16 16:03] hnhhl opened #7 "how to use mysql in code?"
Hi, I inserted mysql connect in the top of page after <?php to use database :

[code]

And error:

`Fatal error: Uncaught Error: Call to undefined function mysql_connect() in /var/www/html/master/test.php:6 Stack trace: #0 {main} thrown in /var/www/html/master/test.php on line 6`

Please help me. Thank you very much

[2016-10-16 16:24] merlinthemagic commented on #7
You must be new to the open source community or programming in general.
This place is only for issues regarding MTS and your question has nothing to do with the MTS package.

I would normally suggest you ask your question on i.e. stack exchange or a similar forum, but in this case the question has been answered literally 100s of times before. You need to make an effort to learn the basics on your

[2016-10-16 16:24] #7 closed, assigned to nobody

[2016-10-16 16:41] hnhhl commented on #7
Hi,  yes I'm using MTS code and want to use database in it. But when i use database its error:

Fatal error: Uncaught Error: Call to undefined function mysql_connect() in /var/www/html/master/test.php:6 Stack trace: #0 {main} thrown in /var/www/html/master/test.php on line 6

[2016-10-16 17:48] itsmemattchung commented on #7
hey @hnhhl , it appears that `mysql_connect` is deprecated, according to [this post](http://stackoverflow.com/questions/15346605/php-apache-php-fatal-error-call-to-undefined-function-mysql-connect) on stackoverflow; the second comment suggests installing the dependencies—php5 mysql—via your package manager.  Can you try that and see if that works?

[2016-10-17 08:59] Nguy3nM1nhVu0ng opened #8 "Bash not available on localHost"
I get an error !
Fatal error: Uncaught exception 'Exception' with message 'MTS\Common\Devices\Actions\Local\Host\Shell::execute>> Bash not available on localHost

[2016-10-17 09:04] merlinthemagic commented on #8
Please provide your OS distribution, version and architecture. And a snip of code you are trying to execute when you get the error.

[2016-10-19 19:43] Nguy3nM1nhVu0ng commented on #8
OS                : CentOS
Version         : 7.4
Architecture : 64bit

Mycode:

<pre>
$shellObj    = \MTS\Factories::getDevices()->getLocalHost()->getShell('bash', false);
$shellObj->exeCmd('cd /var/log/');
$return1  = $shellObj->exeCmd('ls -sho --color=none');
echo $return1;
</pre>

[2016-10-20 10:19] merlinthemagic commented on #8
Please execute these 3 commands from PHP using the SAME user as you did for the MTS command:

[code]

then post the return from each of the 3 commands.

[2016-10-20 11:16] jenniferamie opened #9 "Save all cookie to txt file"
Hello, how to save all cookie to a txt file and then read cookie from this? thank you

[2016-10-20 11:48] merlinthemagic commented on #9
The getCookies() method returns an array. You would have to decide on a file format to accommodate the structure of the array. Alternatively you could serialize the array and simply save that in a file i.e:

[code]

Then when you need the cookies again:

[code]

[2016-10-20 15:02] jenniferamie commented on #9
Thank you for your answer !
Another question, can I send a 'Tab' key?

[2016-10-21 06:33] Nguy3nM1nhVu0ng commented on #8
I was running and this is the result

<pre>
string(4) "root"
string(148) "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/usr/lib64/ccache:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin:/root/bin"
string(13) "/usr/bin/bash"
</pre>

[2016-10-21 07:12] merlinthemagic commented on #8
Are you sure the all commands where issued as root?

The reason I ask is that the last command you executed (which bash) is the command that would need to fail for you to get the original exception. but it returns the path to the bash executable just like it should.

Something in your environment MUST have changed since you got the exception. For example did you execute the MTS shell via a browser

[2016-10-21 07:42] merlinthemagic commented on #9
Hi,

I just added the abillity to send "Tab" key press, so you will need to download MTS again (master branch), alternatively you can just override PJSCtrl.js with the newest version [(PJSCtrl.js)](https://github.com/merlinthemagic/MTS/blob/master/MTS/Common/Devices/VendorData/phantomJS/PJSCtrl.js).

I assume you are trying to move the cursor focus to next input using Tab. In that case be aware th

[2016-10-21 07:46] merlinthemagic commented on #5
Did my last suggestion solve your issue?

[2016-10-21 08:04] Nguy3nM1nhVu0ng commented on #8
@merlinthemagic  Yep you're right.
I have run it in the browser and the results below.

<pre>
string(5) "nginx"
string(23) "/usr/local/bin:/usr/bin"
string(0) ""
</pre>

And i was run in cli

<pre>
Interactive shell
php > echo exec("which bash");
/usr/bin/bash
php >
</pre>

[2016-10-21 08:48] merlinthemagic commented on #8
Thanks, that makes more sense :).

Is your system enforcing SE?
To make sure please issue the following command: "sestatus" on the command line and post the results here.

If you do not have shell access you could try through the webserver like this:

[code]

The next part is NOT a solution, it is simply troubleshooting.

If you see the folllowing in the "sestatus" return:

`Current mode:

[2016-10-21 10:06] quyeticb commented on #5
I have fixed.

[2016-10-21 10:07] merlinthemagic commented on #5
Do you mind sharing what the issue was and how your resolved it?

[2016-10-21 10:24] quyeticb commented on #5
Same as your solved code. Using php try and catch with timeout.

[2016-10-21 10:25] merlinthemagic commented on #5
thx

[2016-10-21 10:25] #5 closed, assigned to merlinthemagic

[2016-10-21 19:26] Nguy3nM1nhVu0ng commented on #8
Thank you for your great support.
I was run your code and returned empty !
So I run command "sestatus" in terminal and this resulting is:

<pre>[root@***]# sestatus
SELinux status:                 disabled
</pre>

I was setup centminmod on my server. Do you have any solution to my problem. Any ideas?

[2016-10-22 09:59] merlinthemagic commented on #8
Hi,

I think the issue comes about because NGINX does not manage the environmental variables like apache would. Try adding this line in your PHP script before anything else:

`putenv("PATH=" . exec("echo \$PATH"));`

Then run the MTS commands.

[2016-10-22 15:45] Nguy3nM1nhVu0ng commented on #8
@merlinthemagic
great, it worked ! thank you  very much.

[2016-10-22 15:47] merlinthemagic commented on #8
Download the latest from the master branch, the fix has been added to the default setup.

[2016-10-22 15:47] #8 closed, assigned to merlinthemagic

[2016-10-23 15:23] merlinthemagic commented on #9
@jenniferamie Where you able to send Tab? Can i close the issue?

[2016-10-25 19:55] jenniferamie commented on #9
Hello, thank you so much !!!!

[2016-10-25 20:00] jenniferamie opened #10 "Click on Element question"
`<a href="javascript:void(0);" class="bblcheck_button" record_id="6227260" rel="prettyPhoto[iframe]" id="check_bl" infovalue="Check">Check</a>
`
I want to click on id="check_bl", but there are so many record_id=[id number]. Can I click to all record_id??

[2016-10-25 20:33] #9 closed, assigned to merlinthemagic

[2016-10-26 10:44] merlinthemagic commented on #10
Your question is if you can use a single selector to click multiple elements? The answer is no. The clickElement() method will click the first element selected and then return.

I am not 100% understanding the objective, are you trying to get images from a website and the images require a button to be clicked before they render on the page? If the images render in the same location ("prettyPhoto[i

[2016-10-27 16:38] jenniferamie commented on #10
thank you so much !

[2016-10-27 16:41] hasuperus opened #11 "Install on localhost (windows)"
I'm using Appserv and got an error when run mtsSetup.php:

`Fatal error: Class 'MTS\Factories' not found in C:\AppServ\www\MTS\MTS\EnableMTS.php on line 34`

What's problem?

[2016-10-27 17:26] merlinthemagic commented on #11
There are two issues.

There is a bug when the MTS folder is inside another folder called MTS. Put it in another folder name I.e. AppServ\www\MtsTool\MTS.......

The second issue is more unfortunate for you, the package is not build for Windows, it relies on Bash currently. I am working on Windows support with Powershell / phantomJS.

[2016-10-27 17:29] #10 closed, assigned to merlinthemagic

[2016-10-29 17:24] merlinthemagic commented on #11
I just published the first version that supports Powershell, phantomJS support coming, but not ready yet. If you wanted to use the shell on windows, you now can but it is still rather experimental.

The path bug has also been resolved.

[2016-11-01 09:17] merlinthemagic commented on #11
And then PhantomJS for windows was added. Please download the latest version and you will have support for powershell and phantomJS under windows.

[2016-11-03 13:20] merlinthemagic commented on #11
@hasuperus can i go ahead and close this issue?

[2016-11-04 00:00] zuliandres opened #12 "Formatting output"
Thank you for providing this which is a great way to learn, and yes it has some security concerns that one has to address. I was wondering if there is a way to address output formatting, in a way that it might appear more organized. Since you have experience I thought maybe you had some ideas.
Thanks

[2016-11-04 07:47] merlinthemagic commented on #12
Hi @zuliandres im glad you found it useful. It's not much fun building tools that no one give you feedback on :).
In regards to formatting I assume you are talking about the shell modules and not the headless browser output.

The truth is that MTS has a sister project which extends its functionality and provides standard object returns for a few hundred common commands across any OS and shell type

[2016-11-04 21:29] zuliandres commented on #12
That sounds interesting, I am a bit new to this so any other pointers would be much appreciated.
Let me know!

[2016-11-04 21:56] merlinthemagic commented on #12
How would you like to change the output format?

[2016-11-06 09:50] #11 closed, assigned to merlinthemagic

[2016-11-06 20:03] zuliandres commented on #12
I figured out a way to turn some of the ANSI formatting to html5 so I think that works for now. DO you have any examples for websites that use this tool online?

[2016-11-06 20:34] merlinthemagic commented on #12
Hi,

I'm a bit lost, I'm not sure which tool and in which context. Could you provide a code example?

[2016-11-09 18:32] zuliandres commented on #12
i am basically trying to give users a way to interact with an Ubuntu user account. I found tools like Webmin, Usermin to give this restricted access so they can test a mesh network testbed. I think for executing some commands for network testing they should be able to use a shell interface. This is the reason why I wanted to use your tool. Right know I am just testing different options, and I foun

[2016-11-16 21:59] merlinthemagic commented on #12
Sorry for the late reply.

From what i gather you are building an app that will let users interact with a Ubuntu system through a web interface and you want the ability to execute shell commands through that interface.

First question:
"...I found that when running commands through your tool, there are some irregularities with what the actual OS shell is like..".
Could you provide a code example?

[2016-12-22 06:16] jenniferamie opened #13 "Setup problem"
Hello, What is the problem when I run setup

`Fatal error: Uncaught exception 'Exception' with message 'MTS\Common\Devices\Actions\Local\Host\OperatingSystem::execute>> Not Handled for Request Type: getOsObj' in /var/www/html/vc/vc/MTS/Common/Devices/Actions/Local/Host/OperatingSystem.php:143 Stack trace: #0 /var/www/html/vc/vc/MTS/Common/Devices/Actions/Local/Host/OperatingSystem.php(11): MTS\Com

[2016-12-22 14:50] merlinthemagic commented on #13
Hi,

What operating system and architecture are you running?

[2016-12-22 14:57] merlinthemagic commented on #12
Do you still require help?

[2017-01-03 17:50] garrablanka commented on #13
hello merlinthemagic.
i have the same problem.. i use Centos 6.7 x86_64.
do you know how to fix it?
thanks!

[2017-01-03 18:15] merlinthemagic commented on #13
Hi,

Please post the output of $data1 and $data2 to this thread.
$data1 = php_uname();
$data2 = exec("cat /etc/os-release");

MM

[2017-01-03 18:33] garrablanka commented on #13
$data1= Linux st.mitrato.cl 2.6.32-642.11.1.el6.x86_64 #1 SMP Fri Nov 18 19:25:05 UTC 2016 x86_64

$data2= (empty)

[2017-01-03 18:42] garrablanka commented on #13
$data2= CentOS release 6.8 (Final)

[2017-01-03 18:42] merlinthemagic commented on #13
That was quick ;)

The problem is that we are not getting file return for some reason.

Please test:

$exists = function_exists("exec"); // true or false?
exec("cat /etc/os-release", $data2, $statusArr); // content of $statusArr
Last, does the /etc/os-release file exist?

[2017-01-03 18:46] garrablanka commented on #13
$exists is true.
/etc/os-release does not exist but i think you need /etc/centos-release --> CentOS release 6.8 (Final)

[2017-01-03 18:52] merlinthemagic commented on #13
Could you post the entire output of /etc/centos-release.

I will update the OS object to check for that file as well and push a commit tonight.

[2017-01-03 18:57] garrablanka commented on #13
only this --> CentOS release 6.8 (Final)
it's an excellent project so I wait for that.
Thanks!

[2017-01-03 19:01] garrablanka commented on #13
can you please notify me when you do that??
thanks!!

[2017-01-03 20:00] merlinthemagic commented on #13
@garrablanka download the master branch and try again.

[2017-01-03 20:31] garrablanka commented on #13
@merlinthemagic
i downloaded again but i had the same error:
Fatal error: Uncaught exception 'Exception' with message 'MTS\Common\Devices\Actions\Local\Host\OperatingSystem::execute>> Not Handled for Request Type: getOsObj' in /home/lompros/public_html/merlinthemagic/mts/MTS/Common/Devices/Actions/Local/Host/OperatingSystem.php:149 Stack trace: #0 /home/lompros/public_html/merlinthemagic/mts/MTS/C

[2017-01-03 20:43] merlinthemagic commented on #13
Odd.

I would want access to the system to check myself, but that gets complicated. I commited a more verbose version of the OS obj class. Either download the master branch again or just download and override this file:
https://github.com/merlinthemagic/MTS/blob/master/MTS/Common/Devices/Actions/Local/Host/OperatingSystem.php

Are you on IRC somewhere?

[2017-01-03 21:28] garrablanka commented on #13
This project looks awesome. So i will give you some access. Give me your email.

[2017-01-03 21:29] merlinthemagic commented on #13
Martins@martinpetermadsen.com

[2017-01-03 22:28] merlinthemagic commented on #13
Hi,

The install in '/home/lompros/public_html/merlinthemagic/mts' had not been updated to the latest master. But there was other issues as well.

Thank you for the access. I updated MTS and completed the setup, you are good to go!

MM

[2017-01-03 22:33] merlinthemagic commented on #13
@garrablanka Just realized I did not clean up after myself. There is a MtsSetup.php in your root HTML folder. Make sure to get rid of it (I would purge the server completely and spin up another instance. Afterall you don't know me ;))

I also gathered you are using composer,if you download again you need to accept dev packages and specify the master branch (not a release), or just downloa a zip fr

[2017-01-04 01:32] garrablanka commented on #13
thanks very much!!

[2017-01-04 12:49] #13 closed, assigned to merlinthemagic

[2017-01-04 15:13] #12 closed, assigned to merlinthemagic

[2017-01-04 19:43] garrablanka opened #14 "select option and javascript"
First of all, i would like to congratule you for this amazing project.

Second, i have a form like this:

`<form name="formit"><select name="juite" onchange="changethis(this.value)"><option value="00" selected>Select option</option><option value="Option*01">Option 1</option><option value="Option*02">Option 2</option><option value="Option*03">Option 3</option><option value="Option*04">Option 4</opt

[2017-01-04 19:47] merlinthemagic commented on #14
Please use the code tag to enclose the form HTML.

[2017-01-04 19:56] garrablanka commented on #14
sorry, now you can see it

[2017-01-04 21:06] merlinthemagic commented on #14
You are not the first to ask a question like that. It seems i need to write a Wiki. In any case, here is how you can make a selection in the drop down. I will let it be up to you to craft the right css selector to submit the form (I would use the clickElement() method with your CSS selector).

[code]

Thats it. Obviously you can remove all the validations if you are certain the element names are v

[2017-01-04 21:49] garrablanka commented on #14
heey.. this works perfectly!
thaaanks!!

[2017-01-04 21:50] itsmemattchung commented on #14
Thanks @merlinthemagic

[2017-01-04 23:58] #14 closed, assigned to merlinthemagic

[2017-04-17 19:05] Sarfroz opened #15 "simple issue"
hi sir thanks for providing such nice code, i have a simple problem that what to do if phantomjs has been blocked by the website. Any way to fix this kind of problem.

[2017-04-17 19:25] itsmemattchung commented on #15
That's interesting—can you elaborate? Can you provide some example output that proves whatever website is actually blocking phantomjs?

[2017-04-17 19:56] merlinthemagic commented on #15
Hi @Sarfroz ,

If you are confident the website blocks only phantomJS then it is likely the filtering is done based on the User Agent.

Try this:

[code]

This informs the webserver that firefox, not the default phonatomJS agent is running on the client.

[2017-04-17 20:07] Sarfroz commented on #15
try this link with pahntomjs
https://openload.co/f/AvIhwhZwdHY/Moviedetector.Co__lgnh7.mkv

and get element value of <span id="streamurl"> you will get an encoded
value.

On Tue, Apr 18, 2017 at 1:26 AM, Martin Peter Madsen <
notifications@github.com> wrote:

[2017-04-17 20:47] merlinthemagic commented on #15
Hi @Sarfroz,

The encoded data could only be retrieved from innerHTML. I have added the return from that function to the getElement() method. Download the master and try again.

[2017-04-17 21:03] Sarfroz commented on #15
i have found the solution for this too sir but idk how to implement this
with your PHP, because  url will keep changing
i am sending the sample code. if possible try to help this in php form with
your code,

var page = require('webpage').create();
console.log('The default user agent is ' + page.settings.userAgent);
//page.settings.userAgent = 'SpecialAgent';
page.onInitialized = function() {   //t

[2017-04-17 22:52] merlinthemagic commented on #15
Sry I do not understand the issue.

Are you not able to retrieve the text value of the SPAN? That should be fixed by the current master.
Or are you not able to translate the return value into a URL you can access outside the phantomJS session?

The reason for the second option is this line from JS on the page:

`$('#realdl a').attr("href","/stream/" + $("#streamurl").text());`

It appears they are

[2017-04-18 14:38] merlinthemagic commented on #15
Try this:

[code]

[2017-04-18 15:21] Sarfroz commented on #15
let me try and tell you :)

[2017-04-18 17:05] Sarfroz commented on #15
not working  sir.

On Tue, Apr 18, 2017 at 8:08 PM, Martin Peter Madsen <
notifications@github.com> wrote:

[2017-04-18 17:10] merlinthemagic commented on #15
@Sarfroz

You will have to supply more information for me to help you. What exactly are you trying to do? What have you tried? What part of MTS you believe has a bug/needs a feature.

MM

[2017-04-28 12:09] scriptburn opened #16 "port for mac"
Hi,

is there any version for mac?

[2017-04-30 15:13] merlinthemagic commented on #16
Hi,

There is not. But I think it would be a simple task to port. The only question is how useful it will be. I just do not know how common it is to how PHP from OSX. Do you have any numbers?

MM

[2017-04-30 15:14] scriptburn commented on #16
Well i don’t have exact numbers but there are tons of developer who use mac environment for web development with mamp pro

[2017-04-30 15:28] merlinthemagic commented on #16
ok. I know little about the most commonly used stacks on OSX. Can you provide an example?

I.e.
OSX (is there a server flavor commonly used?)
apache (what is the most common webserver?)
php (vanilla or any particular branch?)

M

[2017-05-01 05:53] scriptburn commented on #16
Mac user always use the latest OS which currently is macOS  Sierra
almost everyone use MAMP stack for development on mac which includes both apache and nginx which you can switch as per your need and i use nginx

PHP 7

[2017-05-01 15:49] merlinthemagic commented on #16
Ok thx @scriptburn .

Let me take a pass at it later today. Ill let you know.

[2017-05-16 14:23] yakupk opened #17 "Set cookie again"
Hi Sir.
How can I , save cookies of a page I login to and then set **that cookie again** and use it again?
Actually how can I set cookie before request url ?
Thank You

[2017-05-16 14:30] merlinthemagic commented on #17
HI,

Currently not possible but easy to add:

http://phantomjs.org/api/webpage/method/add-cookie.html

I am currently making some long overdue structual changes and ill include this as a feature.

MM

[2017-05-16 15:54] yakupk commented on #17
Hi
Thanks for your reply. I just need to as a feature setCookie method in  'MTS'  library.

[2017-05-16 15:54] #17 closed, assigned to nobody

[2017-07-17 09:14] quyeticb opened #18 "How to setCookies for Windows Object"
have a function: getCookies()
How to set cookies from serialize cookies from getCookies() for after session.

[2017-07-17 14:41] merlinthemagic commented on #18
Added this functionallity in the last commit to dev-master. Check updated documentation for the browser under the new method: setCookie()

Please note PhantomJS::addCookie has active issues that are unlikely to be resolved.

https://github.com/ariya/phantomjs/issues/13409
https://github.com/ariya/phantomjs/issues/14047

#17

[2017-07-18 04:22] quyeticb commented on #18
I see, great tool, thanks for fast reply!

[2017-07-18 12:01] #18 closed, assigned to merlinthemagic

[2017-07-19 11:16] #15 closed, assigned to nobody

[2017-08-02 01:41] quyeticb opened #19 "How to capture element to image"
hi, you can add function to export element to image.
Ex:
`<img src="url.png" alt="image" class="img" />`
I want export element[class=img] to base64 data, can you help me?

[2017-08-02 02:08] quyeticb commented on #19
Solved It!

[2017-08-02 19:59] #19 closed, assigned to nobody

[2017-09-04 16:04] ShayanArifButt opened #20 "amazon gives page "please enable cookies to continue""
i am trying to automate some process on amazon.com , so i was trying to log into amazon and when i take screenshot it gives the page "please enable cookies in your web browser". below is the image.

![image](https://user-images.githubusercontent.com/28813039/30033402-789810be-91b4-11e7-9491-7fcaca281d20.png)

[2017-09-04 16:12] merlinthemagic commented on #20
Show me how you setup the browser and make the request.

I.e:
`
$myUrl			= "https://www.amazon.com/";
$windowObj		= \MTS\Factories::getDevices()->getLocalHost()->getBrowser('phantomjs')->getNewWindow($myUrl);

$windowObj->mouseEventOnElement("[id=loginButton]", 'leftclick');
$windowObj->sendKeyPresses("myUsername");

$windowObj->mouseEventOnElement("[id=passwordInput]", 'leftclick');
$windowObj->s

[2017-09-04 16:20] ShayanArifButt commented on #20
@merlinthemagic
So i cloned the git repo , my system is windows 7 64 bit. Normal pages are fetching fine , just this login is giving this cookie page. i am using the included PhantomJS binary.

ini_set('max_execution_time', 120);
require 'MTS/MTS/EnableMTS.php';

$myUrl			= "https://www.amazon.com/gp/css/account/address/view.html?ie=UTF8&ref_=myab_view_new_address_form&viewID=newAddress&/";

$wind

[2017-09-04 16:27] ShayanArifButt commented on #20
@merlinthemagic

i set up the user agent now also ,

$agentName	= "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:47.0) Gecko/20100101 Firefox/47.0";
$windowObj->setUserAgent($agentName);

 but still the same message amazon gives

[2017-09-04 16:38] merlinthemagic commented on #20
Cookies are enabled by default. Here are 2 things you might try.

Changing the user agent must be done BEFORE setting the URL, or it wont take effect.

make sure you setup like this:
`
//get a window
$windowObj = \MTS\Factories::getDevices()->getLocalHost()->getBrowser('phantomjs')->getNewWindow();

//set the agent
$agentName = "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:47.0) Gecko/20100101 Firefox/4

[2017-09-04 17:01] ShayanArifButt commented on #20
@merlinthemagic

thanks , i followed your instructions and it worked and did not show cookie page . but now i need a little help , looks like amazon detected that i am not a normal user because now it is showing this image ( asking the user to enter the code it sent to user's email )

![image](https://user-images.githubusercontent.com/28813039/30034638-11f85514-91bc-11e7-85f9-0281e460c2f6.png)

so

[2017-09-04 17:52] merlinthemagic commented on #20
Yes. However it is a feature that is rarely used and i have no tests for it (so it may have been broken along the way).

You are trying to maintain the state of the browser from sessions to session. I provided an answer on Stack exchange for a similar question regarding Captchas: [link to question](https://stackoverflow.com/questions/32362373/how-to-communicate-php-with-phantomjs-for-solving-captc

[2017-09-04 22:19] ShayanArifButt commented on #20
@merlinthemagic
Thank you for the reply. Just wanted to say your browser automation library for php is so awesome and it worked out of the box while many others i tried failed to work out of the box. I do not know why your git repo did not show at the top of google results when i was searching for php browser automation/emulation,  it should be at the top because its very good and easy to use. As

[2017-09-04 22:33] ShayanArifButt commented on #20
@merlinthemagic
So i tried with another email as you stated , but the verify page is still showing. However when i use normal browser like Opera or Chrome , that page does not show and amazon logs me in without verification. Any idea how amazon knows i am accessing their page through headless browser/script ? actually i have tried to log into amazon using a custom phantomjs script file and it logg

[2017-09-04 22:42] merlinthemagic commented on #20
Is your PHP dev server hosted or at your house?

It's likely Amazon does a reverse lookup of the Src IP and if it originates from a major hosting provider they add additional validation.

It's not magic, there is a piece of information being transmitted that allows them to filter you.

MM

[2017-09-04 22:59] ShayanArifButt commented on #20
@merlinthemagic

i am testing this at my home laptop , on XAMPP localhost. But the question is if they are filtering using my IP , then the verification page should also come on normal browser like Opera or Chrome, but there is no verification page when i am trying to log in using normal browser.

This page only shows when i try to log in using php script. Even if on the previous try with the scri

[2017-09-05 00:20] ShayanArifButt opened #21 "Amazon daily deals page not loading completely"
So here is the link for the daily deals amazon 1st page ( https://www.amazon.com/gp/goldbox ) . i am trying to load this with the php script. but it is loading only the first eight products , the rest 24 products are not loaded. After analyzing the daily deals page ,i realized the rest of products are loaded through ajax.

Anyway i can make the complete page load ? Here is the script i am using;

[2017-09-05 00:45] ShayanArifButt commented on #21
So i looked at an old issue where you suggested a timeout script and implemented it , but now the after loading for about 30 second the script is giving error, here is my updated code ( basically i am giving the id of last product in $selector , to wait for it to load ) ;

`
//Some websites are either far away or just slow, so it is a good idea to up the allowed execution time.
ini_set('max_execut

[2017-09-05 15:12] ShayanArifButt commented on #20
@merlinthemagic

so i solved the verification issue today by using the "keep alive" parameter which you stated in your stackoverflow answer. I am not talking about saving state of browser to manually submit verification code rather just by using the keep alive parameter , amazon did not show the verification page . Here is the code that i used;

`//open the login page:
    $myUrl = "https://www.am

[2017-09-05 21:00] merlinthemagic commented on #20
Rather than the complicated "keep-alive" logic, maybe try to figure out how they know you are spoofing a real browser. They are likely correlating the user agent with the type of layout engine and its version. PhantomJS is webkit based, while outside of IOS Mozilla uses Gecko.

I.e. a check like:
$.browser.chrome = $.browser.webkit && !!window.chrome;
$.browser.safari = $.browser.webkit && !window

[2017-09-06 10:24] merlinthemagic commented on #21
Since the DOM is extended via AJAX you will need to trigger the call that extends the page. The easiest is likely to simply scroll down the page like so:

[code]

To ensure you get the entire page, find an element that only shows up once there is no more dynamic content to load. Then loop over the scroll function and test for the presence of the element you seek.
You can test for the presence of t

[2017-09-06 10:34] ShayanArifButt opened #22 "Save the login state , so that do not have to log in again and again"
So i am trying to save the login state , by getting the cookie and saving it ;

`$cookieArray = $windowObj->getCookies();
file_put_contents(__DIR__ .'/tmp/cookies/cookies.ser', serialize($cookieArray));`

![image](https://user-images.githubusercontent.com/28813039/30107845-6b9ab978-9319-11e7-82f9-7b1e2c612bdd.png)

 and then on the next script run, load that cookie file again , loop over it , but

[2017-09-06 10:40] merlinthemagic commented on #22
after setting all the cookies, try doing another getCookies() and compare the saved array to the one you set. like this:

$savedCookies = unserialize(file_get_contents(__DIR__ . '/tmp/cookies/cookies.ser'));
foreach($savedCookies as $key=>$value){
//... your logic
}
$newCookies = $windowObj->getCookies();

//then compare the saved to the current
var_dump($savedCookies);
var_dump($newCookies);

Cha

[2017-09-06 17:20] ShayanArifButt opened #23 "Clearing the text field"
How can we clear the text field ?  so i was trying to implement captcha solve by user, but if i save the window object and then enter the captcha , or corrected email by user ,  it actually appends to the text field , i assume this is because i serialized and saved the previous state of the page and hence it already contained the email i entered before; here is the image;

![image](https://user-im

[2017-09-06 19:26] merlinthemagic commented on #23
You appear to know JS quite well. How about pushing a script that sets element.val() to ""? Another option is sending a bunch of "backspace" keys...

[2017-09-07 08:10] angular013 commented on #23
@merlinthemagic

how can we inject our javascript or jquery code into the page ? by pushing the script , you meant injecting our script ,right ?

[2017-09-07 08:19] ShayanArifButt commented on #23
@merlinthemagic

can we inject jquery code as well ?

[2017-09-07 08:23] merlinthemagic commented on #23
If the JQuery framework is loaded, sure you can inject a script.

See documentation for the windows methods:

loadJS
callJSFunction

[2017-09-07 08:24] ShayanArifButt opened #24 "Setting up proxy"
how can we set up proxy ?

[2017-09-07 10:13] ShayanArifButt opened #25 "WorkDirectory File time extend"
sometimes when i save a window object;
`
$saveWindowObj = serialize($windowObj);
$_SESSION['window_obj'] = $saveWindowObj;`

and refresh to try to unserialize and use windowobject ,  after some time , error comes ,

"PHP Fatal error:  Uncaught exception 'Exception' with message 'File does not exist: /home/fankeyco/public_html/1chinadirect/testing/mts_library/MTS/MTS/WorkDirectory/LHB_59b118a98e0ec

[2017-09-07 10:26] merlinthemagic commented on #25
The "max_execution_time" that exists at the time the browser is initialized dictates the absolute longest the session is allowed to run. Once it expires the pipes are deleted.

$time = 600;
ini_set('max_execution_time', $time);

[2017-09-14 08:10] ShayanArifButt opened #26 "String cutting off with sendKeyPresses function using a variable"
So , i am adding an address in a text field , the address is  :

1181 S. Beech Dr. #204

When i pass this through a variable:
`
$windowObj->mouseEventOnElement("[id=address-ui-widgets-enterAddressLine1]", 'leftclick');
$windowObj->sendKeyPresses($_REQUEST['address1_pp']);
`
it shows as cut off  #204  part:
![image](https://user-images.githubusercontent.com/28813039/30418875-e8273ff4-994d-11e7-8fd6

[2017-09-14 08:43] ShayanArifButt commented on #26
So i was trying to do a workaround by injection a javascript function instead of sendKeyPresses ,

`
$scriptData	= "function enterAddress() {
															document.getElementById('address-ui-widgets-enterAddressLine1').value='".$_REQUEST['address1_pp']."';
								 }";
$windowObj->loadJS($scriptData);
$funcReturn = $windowObj->callJSFunction("enterAddress");
`

but this error comes now:

`Fatal

[2017-09-14 09:18] ShayanArifButt commented on #26
So i have tried to hardcode in a variable and it works fine even then;
`
//$address = $_REQUEST['address1_pp'];

$address = '1181 S. Beech Dr. #204';
$windowObj->sendKeyPresses($address);
`

![image](https://user-images.githubusercontent.com/28813039/30421781-4a7b1136-9957-11e7-8811-1aa85c9fa875.png)

I do not know why it is not working with;
`$address = $_REQUEST['address1_pp'];`

even though the

[2017-09-14 11:02] ShayanArifButt commented on #26
is there any workaround ? so that i can get it working for now

[2017-09-14 17:08] itsmemattchung commented on #26
The issue you described sounds like the data in `$_REQUEST` object is not being encoded (or decoded) properly. In other words, the text after the `#` (i.e. hash) is being truncated, being mistaken for a javascript comment.

This issue has been reported in several stack overflow posts:
 - [How to escape hash character in URL](https://stackoverflow.com/questions/5007352/how-to-escape-hash-character-

[2017-09-14 17:42] ShayanArifButt commented on #26
@itsmemattchung

the URL query is created using urlencode() php method ;
`
&address1_pp=<?php echo   urlencode($row['address1_pp']) . "&city_pp=" .  urlencode($row['city_pp']) . "&state_pp=" . urlencode($row['state_pp']) . "&zip_pp=" .  urlencode($row['zip_pp']) . "&country_pp=" .  urlencode($row['country_pp']) . "&first_name_pp=" .  urlencode($row['first_name_pp']) . "&last_name_pp=" .  urlencode

[2017-09-15 11:13] merlinthemagic commented on #26
Hi @angular013

I need the datatype of each variable.

var_dump($_REQUEST['address1_pp']);

$address = '1181 S. Beech Dr. #204';
var_dump($address);

how do they differ? I assume there are non-printable chars in the variable.

[2017-09-15 11:13] #25 closed, assigned to nobody

[2017-09-15 11:19] merlinthemagic commented on #24
Hi @angular013

I have not implemented this functionality, but its quite easily done.

--proxy=address:port specifies the proxy server to use (e.g. --proxy=192.168.1.42:8080).
--proxy-type=[http|socks5|none] specifies the type of the proxy server (default is http).
--proxy-auth specifies the authentication information for the proxy, e.g. --proxy-auth=username:password
Src [PJS documentation](http:

[2017-09-15 11:20] merlinthemagic commented on #23
@angular013 can i go ahead and close?

[2017-09-15 11:34] ShayanArifButt commented on #23
@merlinthemagic

sure the javascript function inject is working fine.

`$clear_fields	= "function clear_fields(){

						document.getElementById('address-ui-widgets-enterAddressFullName').value='';
						document.getElementById('address-ui-widgets-enterAddressLine1').value='';
						document.getElementById('address-ui-widgets-enterAddressCity').value='';
						document.getElementById('address-ui-w

[2017-09-15 11:43] merlinthemagic commented on #23
no. you can only pass the function name. But how about setting a global variable that is used inside the function? then set that variable each time and then call the function?

[2017-09-15 11:54] ShayanArifButt commented on #26
@merlinthemagic

so i echoed and they both seems to be same almost same , just one little change is the `$_REQUEST['address1_pp']` seems to have a line break or maybe space before # .  Let me show you the pic.

$address10 = '1181 S. Beech Dr. #204';
var_dump($address10);

$address11 = $_REQUEST['address1_pp'];
var_dump($address11);

![image](https://user-images.githubusercontent.com/28813039/30481

[2017-09-15 11:59] merlinthemagic commented on #26
So there is your answer. You will need to sanitize the input before passing it to PhantomJS.

$address = str_replace(array("\r", "\n"), "", $_REQUEST['address1_pp']);

[2017-09-15 12:04] ShayanArifButt commented on #23
@merlinthemagic

ok thanks , will try that . you can close this issue

[2017-09-15 12:44] #23 closed, assigned to merlinthemagic

[2017-09-15 14:07] ShayanArifButt commented on #26
@merlinthemagic

thank you , it worked .... Just for anyone who has similar issue and reads this ;

if you want to replace line break with a space and if you just put a space in the second argument, eg;
`$address = str_replace(array("\r", "\n")," ", $_REQUEST['address1_pp']);`

this will actually put 2 spaces , so to add only a single space use the following ;
`$address = str_replace(array("\r", "

[2017-09-15 14:20] #26 closed, assigned to merlinthemagic

[2017-09-17 10:49] ShayanArifButt opened #27 "Timeout error"
So sometimes i get timeout PHP Fatal error when script keeps running for few seconds ( maybe due to slow internet sometimes i guess ) and then stops halfway with timeout error , even though i have set at top of script this ;

`ini_set('max_execution_time', 900);`  ( 15 minutes --> 900 secs )

this is the error:

[17-Sep-2017 04:35:42 America/Denver] PHP Fatal error:  Uncaught exception 'Exception'

[2017-09-17 14:38] merlinthemagic commented on #27
Besides the overall scrip time there is also a per command timeout. By default it is set to 30000ms, but you can change it by running:

//on the BROWSER OBJ!
$browserObj->setDefaultExecutionTime($milliSecs);

[2017-09-21 19:48] gusev-genotek opened #28 "Install breaks with Fatal Error: Call to member function setCnild() on null"
[code]

[2017-09-21 19:51] gusev-genotek commented on #28
If I ran it from the web I get another error:

[code]

[2017-09-21 20:36] merlinthemagic commented on #28
Hi,

Are you using master or a release?

What OS are you using, version and architecture.

Mm

[2017-09-22 11:41] gusev-genotek commented on #28
I am using release (installed via composer) on debian jessie

[2017-09-22 12:36] merlinthemagic commented on #28
Could you please run this command and post the output here:

`$rData		= php_ini_loaded_file();`

i updated master to check that PHP has php.ini loaded, we need it to ensure the timezone of the server is set correctly.

[2017-09-27 10:33] #27 closed, assigned to nobody

[2017-09-27 10:39] ShayanArifButt commented on #21
@merlinthemagic
So i am trying to screenshot this complete page( https://www.amazon.com/gp/offer-listing/B01BAFWRFO ), but it does not screenshots complete page,. Sometimes it just keeps loading for a long time and then times out

here is my code;

`
$myUrl = "https://www.amazon.com/gp/offer-listing/B01BAFWRFO";
$browserObj      = \MTS\Factories::getDevices()->getLocalHost()->getBrowser('phantomjs

[2017-09-27 11:37] merlinthemagic commented on #21
Hi,

You have two problems.

First you are setting the scroll position to 500px again and again, you need to increment it.

Second imagine how fast the while loop executes compared to how fast the AJAX content is served. You will need to wait a tiny bit to make sure the content is loaded before scrolling again.

[2017-09-27 11:38] ShayanArifButt commented on #21
So for the link in above comment ,, its not even an ajax issue , because i save the DOM as an html file to see the complete page and all the page was saved , but when i screenshot , not all the page is displaying

`//get the HTML of the current page:
$domData	= $windowObj->getDom();

//save the window object so we can pick it up again
file_put_contents('page.html', $domData);`

[2017-09-27 11:46] ShayanArifButt commented on #21
@merlinthemagic

so now i have tried like this , with incrementing $top , still the same, not complete screenshot:

`$selector		= "[id=navFooter]";
$exists		= $windowObj->getSelectorExists($selector);

$top		= 500;
$left		= 0;

while(!$exists){

	//scroll down the page 500px

	$windowObj->setScrollPosition($top, $left);

	$selector		= "[id=navFooter]";
	$exists		= $windowObj->getSelectorExists($se

[2017-09-27 12:06] merlinthemagic commented on #21
What is the resolution of the image you receive at the end?

Also please post a var_dump of $docDetails.

[2017-09-27 12:07] ShayanArifButt commented on #21
@merlinthemagic

so for the above link ( https://www.amazon.com/gp/offer-listing/B01BAFWRFO/ref=dp_olp_new_mbc?ie=UTF8&condition=new ) , i fixed it by giving fixed height and width  , so the code is simply the one in documentation:

`$top	= 0;
$left	= 0;
$width	= 2300;
$height	= 2400;
$windowObj->setRasterSize($top, $left, $width, $height);

//perform a screenshot:
$screenshotData	= $windowObj->sc

[2017-09-27 12:31] ShayanArifButt commented on #21
@merlinthemagic

these are parameters i got from echoing previous code;
`
array(3) { ["body"]=> array(6) { ["clientHeight"]=> int(2606) ["offsetHeight"]=> int(2606) ["scrollHeight"]=> int(2606) ["clientWidth"]=> int(1920) ["offsetWidth"]=> int(1920) ["scrollWidth"]=> int(1920) } ["documentElement"]=> array(4) { ["clientHeight"]=> int(1080) ["scrollHeight"]=> int(2606) ["clientWidth"]=> int(1920) [

[2017-10-12 09:58] ShayanArifButt opened #29 "PHP Session destroy not working"
So i sometimes save the browser state in a session , and continue the automationtask from where i left by loading window obj etc from the session.  But when i manually try to destroy the session , php does not destroy it. although i have noticed that when the actual folder from the work directory is destroyed ( eg ini_set('max_execution_time', 300); ) after for example 300 seconds , only then php

[2017-10-12 16:01] ericleonardo opened #30 "Install Error"
Hi! MTS returns error during install on Centos 7 x64. Installing manually with file downloaded here.
Already gave exec privileges (755) to the file but still same error:

`Warning: exec() has been disabled for security reasons in /home/hotsale/MTS/Common/Devices/Actions/Local/Base.php on line 11

Warning: implode(): Invalid arguments passed in /home/hotsale/MTS/Common/Devices/Actions/Local/Base.ph

[2017-10-12 16:08] itsmemattchung commented on #30
Looks like the [OperatingSystem.php](https://github.com/merlinthemagic/MTS/blob/master/MTS/Common/Devices/Actions/Local/Host/OperatingSystem.php#L31) fails to detect your operating system (Centos 7 x64).  To see why the code fails to match the regex pattern, can you post the output of `php_uname();`

[2017-10-12 16:18] ericleonardo commented on #30
I just read on Stack Overflow forum:
**exec** is almost always disabled on shared hosting, because this function is too dangerous.
Is there any way to execute MTS script without this exec function enabled on php.ini?
I run php_uname(); but page is blank. Just put `<?php php_uname(); ?>` inside a file on server and accessed.

[2017-10-12 17:36] merlinthemagic commented on #30
@ericleonardo Sorry no. As stated in the [install readme](https://github.com/merlinthemagic/MTS/blob/master/INSTALL.md) exec() is required for Linux based distros. Without it we cannot interact with the CLI.

MM

[2017-10-19 11:09] ShayanArifButt opened #31 "Custom headers"
how to add custom header ?

this is custom header option:
http://phantomjs.org/api/webpage/property/custom-headers.html

but in where should i add this ?  i itried to add in "PJCtrl.js" file , but then my  php script kept on loading infinitely. I tried to add like this in "PJCtrl.js" file

`function configurePage(windowObj)
{
	try {

		if (typeof windowObj.pjsPage == 'undefined') {
			windowObj.pj

[2017-10-19 14:17] ShayanArifButt commented on #29
i solved session destroy issue using this function;

`function session_destroy_if_time_over($time){

	if( time() - $_SESSION['time'] > $time ){

                //session_start();  // Uncomment this if session_start() is not already set
		// Unset all of the session variables.
		$_SESSION = array();

		// If it's desired to kill the session, also delete the session cookie.
		// Note: This will des

[2017-10-31 18:11] plonknimbuzz opened #32 "How to run function from target using MTS?"
i have this script:
[code]

i was able to done this using` leftclick`. But i want to know can we run `showtext()` directly?
i try `callFunctionJs` but not work
thanks.

[2017-10-31 18:20] merlinthemagic commented on #32
Hi,

Calling the function like this:
$data = $windowObj->callJSFunction("showtext");

Is the right way. You can troubleshoot by having the function return something i.e:
[code]

Then check the return when you call the function, if it contains the string: "ajax call was triggered", you know it works.

[2017-10-31 18:23] plonknimbuzz commented on #32
ill check it out

[2017-10-31 18:23] merlinthemagic commented on #31
fork master-dev and make the changes in the fork, then ping me when you are ready to discuss the implementation of this new feature.

[2017-10-31 18:24] #30 closed, assigned to merlinthemagic

[2017-10-31 18:25] merlinthemagic commented on #29
great. closing.

[2017-10-31 18:25] #29 closed, assigned to nobody

[2017-10-31 18:25] merlinthemagic commented on #28
@gusev-genotek did you resolve the issue? If so what was the problem?

[2017-10-31 18:26] merlinthemagic commented on #24
fork the project and show me how you implemented this feature, that way we can roll it into a new release.

[2017-10-31 18:27] plonknimbuzz commented on #32
you right. i just typo here.

screenshot and dom return perfect result. (welcome John)
thanks,

btw. using MTS is more easier better than php phantomJS. good job bro

[2017-10-31 18:28] #32 closed, assigned to merlinthemagic

[2017-10-31 18:31] #20 closed, assigned to merlinthemagic

[2017-10-31 18:33] merlinthemagic commented on #16
@scriptburn Hi
.... much later in the day.....
OS-X support coming, but not as part of MTS, rather in the form of a new repo called MHIT. There will also be support for RDP session control through PHP.

[2017-10-31 19:50] plonknimbuzz commented on #32
i try to learn this 3 hours
but im stuck in this random website.

how to get the video from this. (note: this website provide direct download link, so maybe its fine to use this website as example)

https://indoxxi.net/film-seri/stranger-things-season-2-2017-1fhos2/play

after page loaded, i run several script on web console
[code]

from information above. we know that there is not any <video> in

[2017-10-31 20:53] plonknimbuzz opened #33 "How to get dom element?"
i try to learn this 4 hours
but im stuck in this random website.

how to get the video from this. (note: this website provide direct download link, so maybe its fine to use this website as example)

https://indoxxi.net/film-seri/stranger-things-season-2-2017-1fhos2/play

because, there is no way to get specific dom element except whole html. So i decide to use simple html dom parser.

after page l

[2017-10-31 22:32] merlinthemagic commented on #33
look at  #[5](https://github.com/merlinthemagic/MTS/issues/5). do a while loop to test for the avail of a particular selector, then use:

[code]

To get the details of that particular element.

#5

[2017-11-01 08:30] plonknimbuzz commented on #33
sorry. i just wake up. today i'm so tired to try both MTS and phantomJS. i sleep at 6 A.M

here my code from issue #5
[code]

result:
[code]
i will try to solve this while waiting your help.

[2017-11-01 09:20] merlinthemagic commented on #33
Hi,

First, in order to have the user agent have effect it must be set BEFORE the page is loaded, like this:

[code]

Second, I looked briefly at the source page for the URL and I do not see the elements you are looking for. You might want to open the page in a regular browser and locate the tags/attributes there first.

Third, your class selector might not work as intended: [class^='jw-video']
It

[2017-11-01 10:48] plonknimbuzz commented on #33
ahh.. i'm happy you are trying to help me.
indoxxi.com is actually my random web for learn MTS purpose. cz after some try, MTS is much easier to use better than other library (phantomJS, casperJS or slimmerJS). But i dont know why this web make me struggle.

========
before we go to indoxxi.com
i will create dummy demo which like similar with this (create new element and grab the content)

url: ht

[2017-11-01 14:17] plonknimbuzz commented on #33
after exploring several practice , i figure it out now

i screenshot before click and after click (wait time included)
i attach both of them. (i use casperJS and MTS) both of them return same result

page initialized
![begin](https://user-images.githubusercontent.com/9929371/32279039-18972fec-bf4a-11e7-9681-64d1b29b68e3.jpg)

after click and wait 20second
![end](https://user-images.githubuserconte

[2017-11-01 15:50] plonknimbuzz commented on #33
i cant grab video from youtube too
[code]
even the source is not playable. i still cant get the source

then i test the browser using https://html5test.com/ to make sure that phantomJS browser not support html5 video
casperJS
![browser2](https://user-images.githubusercontent.com/9929371/32283436-e2210c46-bf56-11e7-9517-9f1ea9f69ebc.jpg)

MTS
![browser1](https://user-images.githubusercontent.com/99

[2017-11-01 18:41] merlinthemagic commented on #33
Correct, there is no Flash support in phantomJS. A WebKit update was scheduled, but since Chrome headless came out the phantomJS project has been shutdown.

There is a new repo almost ready for release, it’s called MHIT and will among other things allow you to select Chrome instead of PhantomJS (same API).

[2017-11-01 18:41] merlinthemagic commented on #33
Correct, there is no Flash support in phantomJS. A WebKit update was scheduled, but since Chrome headless came out the phantomJS project has been shutdown.

There is a new repo almost ready for release, it’s called MHIT and will among other things allow you to select Chrome instead of PhantomJS (same API).

[2017-11-01 18:41] #33 closed, assigned to nobody

[2017-11-01 22:31] plonknimbuzz commented on #33
hi merlin. i solved my problem using slimmerJS since he using real firefox not phantomJS browser

NOTE: need firefox 38.x - 52.0 (above that will occur error)
[code]

result:
[code]
my real target
[code]
result
[code]

my question is, why you not using real browser?
1. selenium using real chrome and firefox
2. slimmerJS using real firefox (and not only video, audio tag, but they said support flash

[2017-11-02 08:08] plonknimbuzz opened #34 "How to handle download file using MTS?"
Hi merlin XD
How to handle download file using MTS?

if i can get url, ofc i can handle that. But i cant get the url, so How to handle that
1. open: "https://indoxxi.net/movie/wheelman-2017-a3fq/play"
2. after video play: hit `SUB` button, or run $('#dlsub').click() in the console

[code]
header
[code]
at this moment, i can handle this using phantomJS, casperJS. But how to handle this using MTS?

[2017-11-02 08:25] merlinthemagic commented on #34
You cannot, phantomJS does not support it.

[2017-11-02 08:39] plonknimbuzz commented on #34
thanks merlin. i will use casperJS to download purpose then

[2017-11-06 18:23] #34 closed, assigned to nobody

[2017-11-15 22:09] #28 closed, assigned to nobody

[2017-11-18 19:24] rosariogueli opened #35 "Could not determine OS distribution"
When launching the MtsSetup.php file in my website's public folder, when I set the correct path to the MTS library and click setup, I get the error at the end of this post. I'm running this on my LAMP setup on Amazon Linux AMI release 2016.09, here more info about my setup:

cat /etc/os-release
NAME="Amazon Linux AMI"
VERSION="2016.09"
ID="amzn"
ID_LIKE="rhel fedora"
VERSION_ID="2016.09"
PRETTY_NA

[2017-11-19 13:42] merlinthemagic commented on #35
Hi,

Added identification abbreviation "rhel" for RedHat based distros to master. Pl;ease clone master and try again.

MM

[2017-11-20 11:35] rosariogueli commented on #35
Hi, this worked perfectly. Thank you so much!

[2017-11-20 12:04] #35 closed, assigned to merlinthemagic

[2017-11-21 06:19] plonknimbuzz opened #36 "How to install MTS manually without PHP automation install (MtsSetup.php) ?"
hi bro,
after several weeks i use MTS, i use in my VPS ubuntu which is working awesome.

2 days ago, i try to install it in my laptop
1. windows 7 SP1 32 bit (localhost)
2. PHP 7.1 (XAMPP)
3. python 3.6.3
4. Powershell 6.0.0-rc-win-x86
5. cygwin 2.9.0 (python 2.7)
6. win 7 SP1 cmd

i try both browser and CLI (cmd, ps, cygwin) installation but i got error. I fix the MTS source but still didnt get r

[2017-11-21 07:14] plonknimbuzz commented on #36
OMG.
i make very very big mistake here.

i miss understood the MTS usage.
Browser: how to get browser automation using PHP. and MTS using phantomJS to control the browser
Shell: how to control shell using PHP for automation purpose. we can use bash, cmd, powershell

my mistake is never read MTS/SHELL_README.md until the end.
what i thought that MTS is phantomJS library for PHP. we can run MTS usin

[2017-11-21 11:25] merlinthemagic commented on #36
HI,

Not 100% sure what you are hinting at, but it seems you expected MTS required a cygwin installation to function. That is not the case, MTS runs on windows natively.

You mention "inconsistance in windows OsName: windows and Windows", what file?

MM

[2017-11-21 15:01] plonknimbuzz commented on #36
ofc you will not get what i mean. because its slightly different when i realise what is MTS

i working on this now.
- try install in several machine (all windows)
- readme.md ,
- install.md and
- create example
- inconsistance windows OsName

this will take several days, because my daughter wont allow me to finish this fast. haha
if i'm ready i will send pull request

note: i really know that i ge

[2017-11-22 12:00] plonknimbuzz commented on #36
merlin can you check this https://github.com/merlinthemagic/MTS/pull/37

btw, can i totally modify Linux installation? because it's really confusing to follow that.
i will create manual installation instead using MtsSetup.php

[2017-11-22 12:13] plonknimbuzz commented on #36
btw, i download MTS 2 weeks ago for my ubuntu. And 2 days ago for my windows.

but they have different output
`$windowObj->getElement('title')['innerHTML'];`
my 1st MTS (ubuntu):  `Wikipedia`
my 2nd MTS (windows): `(empty)`

when i copy my MTS on ubuntu to windows. i got correct result `Wikipedia`. So i think you change something in master branch.

i think we should provides `realese` zip file or

[2017-11-22 13:49] plonknimbuzz opened #38 "Why getElement() show different result?"
target.html
[code]
mts.php
[code]

i run same script in different machine:

1. ubuntu 14 32bit
MTS download: 2 weeks ago
[code]

2. win 7 32bit
MTS download: 2 days ago
[code]

if i copy MTS from ubuntu to windows. My windows will have same result as my ubuntu.

1. why i got different result?
2. if i want to add array ['outerHTML'] or something else, how to do that? what file that i should edit?

[2018-07-26 15:06] dpkrai96 opened #39 "Regarding Two way verification issue."
Hi merlinthemagic,,
Sorry for opening new issue. As I have already followed this thread.
**Amazon daily deals page not loading completely**
I have followed your thread and able to go beyond the first step of two step verification at amazon. But in second step I got an screen of insert code which is send to me via mobile number. How can I process this using MTS library. Please help me.

[2018-07-26 23:11] merlinthemagic commented on #39
You will need to make the SMS code available to PHP using an SMS gateway.
Once the code arrives you simply type it into the input.

$selector	= "[id=inputElement]";
$windowObj->focusElement($selector);

$code	= "3423523";
$windowObj->sendKeyPresses($code);

$keys	= array('Enter');
$windowObj->sendKeyPresses($keys);

[2018-08-05 07:01] equisde opened #40 "error excecuting command"
Hi merlinthemagic,,
before all thanks for this great project!

when i send command with
$sent  = $shellObj->exeCmd($daemon." sendfrom ".$faucetd." ".$wallet." ".$faucet);
it should get in to a coin daemon and excecute command but it doesnt get $faucet variable that it is 0.08, and when i excecute the code
i get error from coin daemon saying that i must use the command with sendfrom <fromwallet> <t

[2018-08-06 14:08] dpkrai96 commented on #39
Can you please explain how can I download the excel report from server using this .The report is generated dynamically after a form submission. And the report is auto downloaded from server to local in excel format . Now I want to make it automated using this library . I am able to login with it and see/traverse through the each pages . But how can I download the report after clicking the export b

[2018-08-07 22:34] merlinthemagic commented on #40
Hi,

The MTS shell does not treat the string command as individual arguments. It simply passes the string on to the terminal and hits the enter key.

It seems the sting you send is interpreted as 2 separate commands. That is why you get the "0.08" command not found.

My guess is that your $wallet variable contains a newline (\n) character at the end. That would fit your description.
Try:

`$sent =

[2018-08-07 22:41] merlinthemagic commented on #39
you cant download using the stock version of phantomJS. There are forks that support [downloading](https://github.com/ariya/phantomjs/issues/10052), but you will need to find the appropriate fork and use that binary instead of the version that ships with MTS. Then you need to extend the classes to incorporate the new functionality.

Make sure you can accommodate the additional RAM requirements tha

[2018-08-08 01:40] merlinthemagic commented on #38
Hi,

you are getting different results because you are using different versions of MTS. The Win7 arrays do not include the innerHTML array index.

Second to append the getElement method you will need to edit the [PJSCtrl.js](https://github.com/merlinthemagic/MTS/blob/master/MTS/Common/Devices/VendorData/phantomJS/PJSCtrl.js) file after line 250.

Its simple javascript, you just have to add more da

[2018-08-08 01:43] merlinthemagic commented on #36
Hi,

Master is going to change over time. If you want consistent results you have to use one of the releases. There is little point in making a new release every time a minor feature is updated.

MM

[2018-08-08 06:44] equisde commented on #40
will give it a try thanks for your time!

El mar., 7 de ago. de 2018 18:34, Martin Peter Madsen <
notifications@github.com> escribió:

[2018-08-08 16:11] dpkrai96 commented on #39
As you mentioned I got the [binary ](https://github.com/ankitgr8/phantomjs2.0) with download functionality. And also I got the code for downloading the file that is following.

`var page = require('webpage').create();

page.onFileDownload = function(status){console.log('onFileDownload(' + status + ')'); return 'test.pdf'; }

page.onResourceReceived = function(status){console.log('onResourceReceive

[2018-08-08 16:13] merlinthemagic commented on #39
Fork MTS, implement and make a pull request please.

[2018-08-10 21:22] equisde commented on #40
thanks! it works!
thanks a lot for your time
amazing project!

[2018-08-10 21:22] #40 closed, assigned to merlinthemagic

[2018-08-10 21:57] plonknimbuzz commented on #38
thanks for the information, that's really helpfull for me

[2018-08-10 21:57] #38 closed, assigned to merlinthemagic

[2018-08-10 22:01] plonknimbuzz commented on #36
thanks. i still watch this repo. usefull for me to feed my fren with pure php code, because they lack of javascript (especilly phantomJS) knowledge

[2018-08-10 22:01] #36 closed, assigned to merlinthemagic

[2018-09-23 05:26] darkain opened #41 "License"
Could you provide a license file for this code, so we know what it can/cannot be used for? I'm interested in possibly using this for a BSD related project, but everything must be explicitly licensed appropriately or else it cannot be included in the project.

[2018-09-24 16:24] merlinthemagic commented on #41
Done.

Released under LGPL.

[2018-09-24 18:21] darkain commented on #41
Thanks!

[2018-09-24 18:21] #41 closed, assigned to nobody

[2018-09-25 20:04] merlinthemagic commented on #41
FYI. I have been sitting on a a new version of MTS (MHIT), different internal structure, fewer dependencies, new namespace, but same shell interface.

I have not released it because i have not had time to do the documentation. Once you have decided if you will be using MTS, check back and see if MHIT is in the public repos.

Everyone likes fewer dependencies and more stability.

[2018-09-25 21:03] darkain commented on #41
Will do! I'm actively following this project now and will be testing it out for my system over the next few months.

[2018-10-13 12:38] ostrolucky opened #42 "Call to a member function getPathAsString() on boolean"
using your example code
[code]

results in

[code]

[2018-10-13 13:19] merlinthemagic commented on #42
You do not have screen installed. And I have a validation that is incorrect when checking for it.

[2018-10-13 13:51] ostrolucky opened #43 "Bash::shellStrExecute>> Read data timeout"
After ensuring `screen` is installed, I get this when using code from example to connect to remote host.

[code]

[2018-10-13 13:53] ostrolucky opened #44 "Don't enforce connection via username:password"
I'm using authentication via SSH keys instead of username/password. MTS does not support it, because it throws exception when missing username/password;

[code]

[code]

[2018-10-17 20:43] merlinthemagic commented on #44
ya thats an easy fix. If password === null expect pub key auth. ill push

[2018-10-17 20:53] merlinthemagic commented on #44
Clone master again. Let me know if it works.

[2018-10-17 20:54] merlinthemagic commented on #43
is this related to [Issue?](https://github.com/merlinthemagic/MTS/issues/42)

[2018-10-17 21:04] ostrolucky commented on #43
I solved referenced issue by installing screen. You should resolve that issue by fixing the validation.

This issue is indeed continuation of previous issue, but I don't see how are they related. This is different problem.

[2018-10-17 21:17] ostrolucky commented on #44
[code]

Also, can't you make your stack traces anonymized? It's annoying and risky to always anonymize it by hand after the fact. There is highly sensitive info there!

[2018-10-18 10:00] merlinthemagic commented on #44
Try master once more, if it fails then do a login by hand from the terminal and post what shows in the terminal here.

And no you can't pass a string to a function so that it doesn't show in stack trace. However you can write your own function to sanitize the generic Exception::getTrace().

[2018-10-18 15:27] ostrolucky commented on #44
Yep after this I hit https://github.com/merlinthemagic/MTS/issues/43 so it seems it progresses past the stage, also command seems ok. You should fix this though:

[code]

[2018-10-18 16:46] merlinthemagic commented on #44
once more. I keep screwing up

[2018-10-18 20:55] ostrolucky commented on #44
[code]

Sorry I'm giving up on this project so won't provide more testing assistance.

[2018-10-18 21:11] #44 closed, assigned to merlinthemagic

[2018-10-18 21:11] #43 closed, assigned to nobody

[2019-02-05 10:15] Casantana opened #45 "Fatal error"
Hi merlin,
i am using your great script to automate some task, but the script after a while stops and show me the attached error.
![timeout](https://user-images.githubusercontent.com/43692285/52266642-4d515400-290d-11e9-8cdc-4694be4cd19d.png)

i think is timeout but, how can i fix it.

[2019-02-05 11:31] merlinthemagic commented on #45
What is the URL you are setting? please encapsulate in a code tag so any special chars are maintained.

[2019-02-06 09:42] Casantana commented on #45
**"encapsulate in a code tag so any special chars are maintained"**
please show me an example how to do this

[2019-02-06 10:09] merlinthemagic commented on #45
In the box where you add comments, click the "<>" in the top menu bar and insert the URL between the ticks.

[2019-02-07 01:16] Casantana commented on #45
i dont add any comments, where is that box?
i tried encapsulate the url but showed me an error

[2019-02-07 01:32] Casantana commented on #45
do u mean, encapsulate the url like this:
$myUrl	= "<https://binary-signal.com/en/chart/eurusd>";

[2019-02-12 10:17] Casantana commented on #45
this is the url encapsulated:
`https://binary-signal.com/en/chart/eurusd`

[2019-02-12 10:18] Casantana commented on #45
please help me

[2019-02-12 10:36] Casantana commented on #45
how can i refresh the page

[2019-02-12 15:18] merlinthemagic commented on #45
You are getting an HTTP:408 back. basically you have not responded in time and the server would like to close the connection.

First question: whats the unit of time shown in the screen shot you attached? is it seconds? if so your script has been running for over an hour. I assume there is some java-script that prompt you to confirm you are still there if no interaction with the page has occurred

[2019-02-27 13:55] Casantana commented on #45
Hi Bro,
i am still getting the error, i ve done what u suggested catch the exeption and saved it in a zip file attached here. i hope you can see it and give me your helpfull advice.

[error.zip](https://github.com/merlinthemagic/MTS/files/2910549/error.zip)
[error.zip](https://github.com/merlinthemagic/MTS/files/2910550/error.zip)

[2019-02-27 21:02] merlinthemagic commented on #45
I am confused about the time it takes for this error to appear. On the first debug image it showed a process that lived for 5000+ seconds, the new one shows 32.

Does it work for awhile and then die, or is the exception thrown on calling setUrl?

I suspect it runs for awhile and then dies. If you look at your RAM consumption on the first debug image you are exceeding 3Gbytes of RAM after 5000 runt

[2019-03-03 22:27] Casantana commented on #27
thank you. really helpful

[2019-03-13 21:33] Casantana commented on #45
Hi Bro,
sorry for the late response.

it runs for a while and then after 30 or 60 minutes it dies.
let me give you a brief description of the program:
when it runs, it logins and then seturl  and take screenshot, it has a while loop to seturl every 20 seconds in order to update the same page and take screenshot. this screenshot is to determine if some part of the image change to execute some comma

[2019-08-22 10:00] Zimaell opened #46 "How to enable the web driver?"
How to enable the web driver, I check for availability on this service
https://intoli.com/blog/not-possible-to-block-chrome-headless/chrome-headless-test.html
When using MTS, it shows that it is disabled ...
How can I turn it on?

This my code
`require(ROOT.'/vendor/autoload.php');
$browserObj=\MTS\Factories::getDevices()->getLocalHost()->getBrowser('phantomjs');
$browserObj->setKeepalive(true);
$

[2019-09-11 10:25] merlinthemagic commented on #46
Hi,

You can append the PhantomJS options by modifying [this line](https://github.com/merlinthemagic/MTS/blob/5bf4f140d1b4dfecd1785da663aa9c7ede39b889/MTS/Common/Devices/Actions/Local/Host/Browser.php#L45).

PhantomJS does support remote [webdriver ](https://phantomjs.org/release-1.8.html)for e.g. selenium integration, but thats not going to help you make the browser mimic the behaiviour of your r

[2020-06-23 23:20] GHNJ opened #47 "Error when connecting..."
Hi, my goal is to connect to the first server, then tunnel to a second one, and get the last 300 lines of a log file.

both servers are RHEL and I can use putty to ssh to both w/out issues using username and pw.

Here is my code:

` require_once "c:\\xampp\htdocs\\tools\\MTS\\EnableMTS.php";

//first you get a shell on the first server:
$shellObj = \MTS\Factories::getDevices()->getRemoteHost('192.

[2020-06-23 23:37] merlinthemagic commented on #47
ya. Its been awhile since i looked at this, but if you look at the [section you copied ](https://github.com/merlinthemagic/MTS/blob/master/SHELL_README.md#remote-shells-linux-only) is say Linux only in the header.

The reason MTS cannot act as an ssh client is that elevating a power shell to allow ssh ends up spawning a brand new process we cant hook into from cli,.

Anyways, if you still wanna ac

[2020-06-24 00:20] GHNJ commented on #47
Thanks for the quick reply!

So from what I understand, since my dev env is on windows (running xampp), then the MTS script will not work correct?
I'll have to setup a Linux env and then I can use it?

[2020-06-24 10:28] merlinthemagic commented on #47
yes, linux will do the job just fine. Again i urge you to use [mtm-ssh](https://github.com/merlinthemagic/MTM-SSH) rather than MTS.

The MTM packages are far better performing, no need for screen or custom setup, they work right from the get go and clean up much nicer than MTS

[2020-06-25 00:27] GHNJ commented on #47
Thanks for the information and help! Much appreciated.

[2020-06-28 13:25] #47 closed, assigned to nobody

[2020-10-29 07:07] studiozocaro opened #48 "Arm board. CentOs on raspberry 2"
Linux allsend 5.4.65-v7.2.el7 #1 SMP Thu Sep 24 14:33:14 UTC 2020 armv7l

Error in setup:
 Could not determine OS distribution

[2020-11-02 10:33] merlinthemagic commented on #48
Are you looking to use the shell or browser? If its the shell then pull: [MTM-SSH](https://github.com/merlinthemagic/MTM-SSH) instead,or [MTM-Shells](https://github.com/merlinthemagic/MTM-Shells) if you dont care about the SSH feature set. Those packages work across platforms (and if not on your particular flavor then its maintained).

PhntomJS died the day Chrome gained headless execution.

[2020-11-05 15:37] marcoliviernoel opened #49 "Remote powershell doesn't return any data"
Hello,

I know this project is no longer supported but I am taking a chance because we need help and this project is the most promising solution to meet our needs. We tried several different ways but it seems that when we execute the commands in command prompt, everything works perfectly but when we try the same commands in php, we don't get any data, not even an error message.

[code]

**In my ex

[2020-11-11 22:59] merlinthemagic commented on #49
I dont even have a windows lab anymore, otherwise i would plug it in to help you figure out whats up.

You store the session $var but you are not using it to invoke the next command. I'm missing something... However it appears you are trying to invoke a command on a remote server.

Regardless, The main reason MTS for Windows is not viable is that obtaining remote shells in Powershell mostly means

[2020-11-11 23:11] merlinthemagic commented on #44
Use: [MTM-SSH](https://github.com/merlinthemagic/MTM-SSH). MTS is not maintained.

[2021-01-23 05:33] enckwab opened #50 "Class 'MTS\Factories' not found"
I have created a file and added this code <?php
$myUrl          = "http://www.youtube.com";
$windowObj      = \MTS\Factories::getDevices()->getLocalHost()->getBrowser('phantomjs')->getNewWindow($myUrl);

//now you can either retrive the DOM and parse it, like this:
$domData    = $windowObj->getDom();

//this project also lets you manipulate the live page. Click, fill forms, submit etc.

?>

When I

[2021-01-23 08:41] merlinthemagic commented on #50
You have to include the auto loader before you can access the factory:

require_once "c:\path\to\mts\folder\EnableMTS.php";

https://github.com/merlinthemagic/MTS/blob/master/INSTALL.md

[2021-03-12 10:03] trevrobwhite opened #51 "Execute Script Over SSH via a Jumpbox"
Hi @merlinthemagic
Your repo looks fantastic just what I need, but I was after some help.  (I wasn't sure if to post here or in MTM-SSH, sorry if it's wrong)

My problem, I need to run a script (Bash, Perl, etc) on a remote machine but I can only access it via a Jumpbox over SSH using Key authentication.
A <-> B <-> C

ServerA contains the script and the key to access ServerB, need to connect as n

[2021-03-13 20:43] merlinthemagic commented on #51
Hi,

First off, thank you for the praise. Second ya, being on a linux distro you are going to want [MTM-SSH](https://github.com/merlinthemagic/MTM-SSH), however lets address your question here. It took me a bit to back to you because key authentication was not supported when chaining ssh connections, i had to build that, its mostly untested so download the newest versions of [MTM-Shells](https://g

[2021-03-15 10:56] trevrobwhite commented on #51
Many thanks, I'm working through this now and working out if having all the keys on the primary server is going to be an issue, I was hoping it could use the key on the gateway server as that's the way ssh -t does it, I might have to get the remote key up front as server C has a trust with Server B (not A) and each gateway server B connects to a different cluster of Server C servers using differen

[2021-03-15 11:19] merlinthemagic commented on #51
1) It would be trivial to add a method to the ssh class that would let you use a key file on a remote server. The reason its not there is that we use a key management service for our keys rather than have them distributed across servers. But for a static setup local keys make sense. May i suggest you test by simply reading the key off server B?

[code]

2) Storm is likely warning the class attribu

[2021-03-15 12:57] trevrobwhite commented on #51
That seems to work great for one liners and I was able to connect right through, however for a bash script that is on ServerA, using getCmd just prints the lines of the script, execute errors:
`Uncaught Error: Call to a member function setRunning() on string`

I know you said it's better to run the commands one by one, but we have a couple of BASH scripts all pre-built it would be good to run them

[2021-03-15 15:08] merlinthemagic commented on #51
Issue you are going to run into is newline breaks and escaping quotes correctly. why not just base64 and push to file on remote?

[code]

[2021-03-16 11:10] trevrobwhite commented on #51
This is great many thanks and is working well, may I ask one other quick question.

Is it possible to get the return code of the command just run, so I can check if it was successful (as well as getting the data)?

Similar to exec:
`exec($cmd, $output, $error_code);`

Thank you again for all your help.

[2021-03-16 12:00] merlinthemagic commented on #51
You are now 100% in bash scripting territory :).

Only you can validate if the return data is formatted as expected. If the return contains large sets, non printable or binary data then make sure to encode it. Base64 is natively available and it does a great job (e.g. echo "something" | base64 -w0 ). Terminal breaks can do "funny" things to outputs.

As for the exit status of the most recently exe

[2021-03-16 15:13] trevrobwhite commented on #51
Of course, I need to get in the mindset that this is a virtual shell, thanks.

[2021-03-16 15:43] trevrobwhite commented on #51
I think this will be the last question, as I am in a loop connecting to different machines to run scripts, what is the correct way to close a connection when moving from one server to the next without the script stopping?

I'm assuming when the script ends the tunnels are closed automatically?

[2021-03-16 16:31] merlinthemagic commented on #51
Yes on script shutdown all connections are un-winded and terminated.
You can terminate any shell by issuing:

`$shellObj->terminate();`

In your case if you are done with C but need to connect to D from B you can reuse the connection to B and just terminate the connection B-C like so:

[code]

If you are in a loop there are a few things you can do besides looping over connections one by one if you

[2021-03-16 18:16] trevrobwhite commented on #51
Brilliant thanks, it's strange the script was working but now I'm finding I'm getting loads of timeouts, stepping through the code it looks like the script it stuck here:

[code]
Warning: Permanently added '192.168.5.4' (ECDSA) to the list of known hosts.
Enter passphrase for key '/dev/shm/MTM-Temp-6050ec13e7646/6050ec13e76f2/6050ec13e7874.pem':

If I run the SSH command manually and enter the pas

[2021-03-16 18:25] merlinthemagic commented on #51
How many tunnels are you instantiating at once? You likely have tons of Python processes left behind (used to spawn a pty shell). Please update MTM-Shells and MTM-SSH to newest dev versions.

Either reboot or kill all the orphaned python processes (pkill python), then monitor the /dev/shm folder when you execute a tunnel, does it clean up after itself?

[2021-03-16 18:41] trevrobwhite commented on #51
Just the one, I haven't tried to done the parallel approach because I'm on shared bandwidth.

There were a couple of stuck pythons, killing them restored one of my servers, the one which issues a warning "Warning: Permanently added" seems to cause the timeout

[2021-03-16 20:02] merlinthemagic commented on #51
Are you running out of file handles perhaps? each tunnel needs a few for stdIn/stdOut from the terminal.

Edit: The "Warning: Permanently added" is the host fingerprint being added as part of the ssh connection, but its written to /dev/null so its not as permanent as the message implies.

[2021-03-17 10:16] merlinthemagic commented on #51
This is interesting. I have been chasing an issue where usually the stdIn pipe cannot be written to (in this case stdOut). Happens very infrequently and i have failed to reproduce it reliably. I wonder if it is connected to a file lock on some ssh dependency that's not being released if a ssh connection stalls. Then subsequent connections fail until the offending process exits.

As i said, update

[2021-04-21 17:24] AugustineSena opened #52 "Fatal error: Uncaught Exception Could not determine OS version"
I Caught the error while after run `composer dump-autoload`. I am running on Windows NT Desktop 6.0 build 6002 (Windows Server 2008 Enterprise Edition Service Pack 2) (I am aware of my server outdated :'( ). Please I need help, what am I supposed to do then ? Thanks in advance.

`Fatal error: Uncaught Exception: MTS\Common\Devices\Actions\Local\Host\OperatingSystem::execute>> Could not determine O

[2021-04-22 08:48] merlinthemagic commented on #52
Hi @AugustineSena ,

I dont have that specific version of windows server running anywhere so ill need you to give me the output of these two commands run on a standard command line (CMD):

[code]

You should get something like this (example using 2008R2):

[code]

[2021-04-22 11:51] AugustineSena commented on #52
Here it is
[code]

[code]

[2021-04-22 12:18] merlinthemagic commented on #52
Hi,

I see, its a couple of registered trademark (®) symbols that's not translating correctly.

I added logic to strip out the extra chars, download master and try again.

[2021-04-24 03:46] AugustineSena commented on #52
Well, Thanks a lot it works

[2021-04-24 03:46] #52 closed, assigned to merlinthemagic

[2021-06-01 09:46] oriceon opened #53 "Powershell not available on localHost"
[code]

Throw Exception
[code]

How to fix that?

[2021-06-01 10:47] merlinthemagic commented on #53
Hi,

What is the return when you execute (as PHP user) on cmd?
`
where powershell
`

Just use exec(), that will mimic the execution done by the lib:
`
exec("where powershell", $data, $status);
`
Whats in $data and $status after execution?

[2021-06-01 12:06] oriceon commented on #53
On cmd i get:

[code]

And on browser:

[code]

[2021-06-02 09:50] merlinthemagic commented on #53
Hi,

Return code 1 means the command encountered an error. exec() is not super verbose when it comes to returning error messages.

Chances are your php user is locked to a subset of commands, or unable to traverse up the filesystem. Both pretty good practices for any public facing service.

Try to determine if this is a general exec() permissions issue or a power shell specific issue what does eac

[2021-06-02 16:07] oriceon commented on #53
[code]

[2021-06-02 16:28] merlinthemagic commented on #53
Hi,

Thats just downright strange. Appears where is not in the environment path for the server.

Return of these last two commands please:

[code]

[2021-06-07 15:23] oriceon commented on #53
Hi.

[code]

[2021-06-08 08:39] merlinthemagic commented on #53
Hi,

Turns out i have let us on a bit of a wild goose chase, mostly because exec() is so vague in its return. The help for "where" states:

[code]

Since you received a return code 1 when running "where powershell" in your first reply to this issue, it appears "where" is available in your environment, but it was unsuccessful in locating "powershell.exe".

Now this issue gets **really** wonky, beca

[2021-10-22 23:12] plonknimbuzz commented on #53
in some case we need to restart our windows to get some Environment
restart apache not gonna help
but in my experience the probability is just 5%

@merlinthemagic answer will gonna help a lot to debug the `environment`, so i think this issue can be marked as solved, because this is not MTS issue, but only local system issue

[2022-01-26 21:17] #50 closed, assigned to nobody

[2022-01-26 21:17] #49 closed, assigned to merlinthemagic

[2022-06-08 12:23] mut9bu opened #54 "Read registry values from remote PC with credentials (username,password)"
Hello
I have tried your solution with reading registry data from localhost. (Installed software). It worked fine. But how can i read registry values from a remote pc? I have to pass also admin credentials (username,password). Can you support?
I run the php script in Windows Server 2019.

[2022-06-08 19:31] merlinthemagic commented on #54
Hi,

It comes down to the credentials you are executing powershell with. Privilege escalation is not possible in MTS. But if you can execute the remote call inside the local powershell then not a problem, just craft the appropriate command including credentials. someting along the lines of:

https://docs.microsoft.com/en-us/answers/questions/229641/reading-registry-values-on-remote-servers-using-a